<div class="create-plateforme-container standard-page-content">
    
  <h2>Créer une plateforme</h2>
  <form [formGroup]="pForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="nom" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Localisation</mat-label>
      <input matInput formControlName="localisation" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Latitude</mat-label>
      <input matInput type="number" formControlName="latitude" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Longitude</mat-label>
      <input matInput type="number" formControlName="longitude" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Date de création</mat-label>
      <input matInput type="date" formControlName="date_creation" required>
    </mat-form-field>
    <div class="actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="pForm.invalid">Créer</button>
      <button mat-button type="button" (click)="goToPlateformes()">Annuler</button>
    </div>
  </form>
</div>
